@use 'assets/styles/_index.scss' as *;

.error.content-block {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.feature[data-entity="error"] {
  & .feature__content {
    align-items: center;
    justify-content: center;
  }

  .error[data-code="404"] {
    @include feature-empty-state;
  }
}