@use 'assets/styles/_index.scss' as *;

.view-edit-switch {
  display: inline-block;
  padding: 1px;
  background: #fafafa;
  border: 1px solid var(--switcher-border-color);
  border-radius: .5rem;
  box-shadow: 0px 0px 3px 0px var(--switcher-shadow-color) inset;

  button {
    padding: 0 .5rem;
    background: transparent;
    border-radius: .375rem;
    color: var(--secondary-color);
    line-height: 1.5rem;
    font-size: .8125rem;
    font-weight: 500;

    &.active {
      background: var(--switcher-button-active-bg-color);
      border: 1px solid var(--switcher-button-active-border-color);
    }
  }
}