@use 'assets/styles/_index.scss' as *;

nav.breadcrumb {
  // font-size: 1.25rem;
  font-weight: 600;

  li {
    display: inline-block;

    &:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      mask: url("assets/images/chevron-thick.svg") var(--h3-font-size) 0/1.5rem 1.5rem;
      background-color: var(--secondary-color);
      transform: rotate(270deg);
    }
  }
}