@use 'assets/styles/_index.scss' as *;

$cell-padding: 0.25rem;
$border-width: 0.1px;

.deck-fields {
  @include flex-col;

  flex: 1;

  &__content {
    flex: 1;
    overflow-x: auto;
    overflow-y: visible;
  }

  &__empty { @include feature-empty-state; }

  &__table {
    width: calc(100% - (var(--content-padding-inline) * 2));
    max-width: 30rem;
    margin-block: 0.5rem 1rem;
    margin-inline: var(--content-padding-inline);
    vertical-align: middle;
    border-collapse: collapse;

    &-cell {
      padding: $cell-padding;

      &[data-cell-type="head"] { @include table-head-cell-formatting; }

      &[data-cell-column="index"] {
        width: 0%;
        padding-inline: 0;
        color: var(--secondary-color);
        font-size: var(--h3-font-size);
        font-weight: 700;
        white-space: no-wrap;
      }

      &[data-cell-column="settings"] { position: relative; }

      &[data-cell-column="actions"] { @include flex-row; }

      &-value {
        display: block;
        padding: var(--input-padding-block) var(--input-padding-inline);
      }
    }

    &-row:not([data-row-type="body"]:last-child):not([data-is-dragging="true"]) {
      border-bottom: $border-width dotted var(--table-border-color);
    }

    &-head { font-weight: 700; }

    &-settings {
      @include button-link-icon;

      padding: 0.5rem;
    }
  }

  &__field-settings {
    &__actions {
      @include list-reset;
      @include flex-col($gap: 1rem);
    }

    &__toggle {
      @include flex-row($gap: 0.25rem);

      padding: 0.5rem;

      &::before {
        content: "";
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        mask: url("assets/images/gear.svg") 0 0/1.5rem 1.5rem no-repeat;
        background-color: var(--link-color);
      }
    }

    &__content {
      inset-inline-end: 0;
      min-width: 20rem;
      padding: var(--content-padding-block) var(--content-padding-inline);
    }

    &__title { margin: 0; }

    &__item-input:disabled {
      background-color: transparent;
      border-color: transparent;

      &::after {
        background-color: var(--success-color);
      }

      &:not(:checked)::after {
        content: "";
        display: inline-block;
        height: 1.25rem;
        width: 1.25rem;
        background-color: var(--error-color);
        mask: url("assets/images/x.svg");
      }
    }
  }

  &__add {
    width: 100%;
    margin-block-start: 0.5rem;
    padding-block: calc(var(--input-padding-block) + $cell-padding);
  }

  &[data-mode="view"] {
    .deck-fields__table-row:not([data-row-type="body"]:last-child) {
      border-bottom: $border-width dotted var(--table-border-color);
    }
  }

  &[data-mode="edit"] {
    .deck-fields__table-cell {
      &[data-cell-column="title"] { min-width: 12rem; }
      &[data-cell-column="type"] { min-width: 8rem; }
      &[data-cell-column="role"] { min-width: 8rem; }
      &[data-cell-column="actions"] { min-width: calc(5rem + 2 * $cell-padding); }
    }
  }
}