@use 'assets/styles/_index.scss' as *;

$size: 2.5rem;

.avatar {
  @include flex-row($align: center, $justify: center);

  height: $size;
  width: $size;
  border-radius: 50%;
  background: var(--avatar-bg);
  color: var(--avatar-color);
  font-size: 1.125rem;
  font-weight: 600;

  &::before {
    content: attr(data-name-starts-with);
    padding-inline-start: 1px;
  }
}