@use 'assets/styles/_index.scss' as *;

.demo {
  @include flex-col($align: center, $justify: center);

  flex-grow: 1;

  &__content {
    @include flex-col($gap: 1rem);

    max-width: 25rem;
  }

  &__form {
    @include flex-col($gap: 1rem);

    &-title { margin: 0; }
  }

  &__hint {
    margin: 0;
    padding-inline: var(--input-padding-inline);
    color: var(--secondary-color);
  }

  &__submit { @include button-blue; }
}