@use 'assets/styles/_index.scss' as *;

.feature.authentication {
  max-width: 30rem;
  margin: auto;

  .feature__header { justify-content: center; }

  .tabs-header {
    gap: 1rem;
    text-transform: capitalize;
  }
}

.login-form {
  @include flex-col($align: center, $gap: 1rem);

  padding-block: var(--content-section-padding-block);
  padding-inline: var(--content-padding-inline);

  &__login,
  &__password { width: 100%; }

  &__submit {
    @include button-blue;

    min-width: 50%;
    margin: 0 auto;
    text-transform: capitalize;
  }

  &__status {
    margin-block: var(--content-section-padding-block);
    margin-inline: var(--content-padding-inline);

    &[data-status="error"] { color: var(--error-color); }
  }
}