@use 'assets/styles/_index.scss' as *;
// TODO: FIX LINE-HEIGHT/HEIGHT FOR ALL THE ELEMENTS OF TOOLBAR
.status-bar {
  @include flex-row($align: center);
  line-height: var(--line-height);

  &__message {
    @include flex-row;

    animation: fadeIn 0.6s forwards;

    &::before {
      content: "";
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      // mask-repeat: no-repeat;
    }

    &[data-message-type="initial"],
    &[data-message-type="saving"] {
      display: none;
    }

    &[data-message-type="saved"] {
      animation: fadeOut 2s forwards;
      color: $green-700;

      &::before {
        mask: url("assets/images/check.svg") 0 0/1.5rem 1.5rem;
        background-color: $green-700;
      }
    }

    &[data-message-type="error"] {
      color: $red-500;

      &::before {
        mask: url("assets/images/error.svg") 0 0/1.5rem 1.5rem;
        background-color: $red-500;
      }
    }
  }

  &__discard {
    @include flex-row($align: center);
    @include button-link;
    margin-inline-start: 1.5rem;

    // &::before {
    //   content: "";
    //   width: 1rem;
    //   height: 1rem;
    //   margin-inline-end: 0.25rem;
    //   mask: url("assets/images/undo.svg") no-repeat;
    // }
  }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0%   {opacity: 0;}
  30%  {opacity: 1;}
  70%  {opacity: 1;}
  100% {opacity: 0;}
}